player-connection-mode=Listen
player-connection-guid=3860568213
player-connection-debug=0
player-connection-project-name=Friendship On Top
player-connection-ip=192.168.1.25
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6b65323702ae43b1a1aaaa672d97fd30
