player-connection-mode=Listen
player-connection-guid=689101655
player-connection-debug=0
player-connection-project-name=Friendscape
player-connection-ip=192.168.1.25
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9a72c81b9f2d41ad8bf22672a62da380
